@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using ImgRepo.Model.ViewModel
@model BasicDetails

<div class="container" style="padding-bottom: 3rem!important;">

    <div>
        <div id="image-id" style="display:none">@Model.Id</div>
        <div class="img-repo-attr-group" id="image-index-info-group">
            <h2 class="img-repo-attr-label">名稱</h2>
            <h4 class="img-repo-name">@Model.Name</h4>            
            <div class="img-repo-edit-group">
                <a class="img-repo-edit-btn" onclick="ImgRepoCommon.OpenEdit(this)">編輯</a>
                <input class="img-repo-input" type="text" style="display:none;" />
                <a class="img-repo-save-btn" style="display:none;" onclick="ImgRepoImageIndexHelper.EditImageName(this, baseUrl)">保存</a>
                <a class="img-repo-cancel-btn" style="display:none;" onclick="ImgRepoCommon.CloseEdit(this)">取消</a>
            </div>
        </div>

        <img id="image-view" class="img-fluid" src="" alt="Image" />

        <div class="img-repo-attr-group" id="image-index-tag-group">
            <span class="img-repo-attr-label">標籤</span>

            <div class="img-repo-edit-group">
                <a class="img-repo-edit-btn" onclick="ImgRepoCommon.OpenEdit(this)">新增</a>
                <input class="img-repo-input" type="text" style="display:none;" />
                <a class="img-repo-save-btn" style="display:none;" onclick="ImgRepoImageIndexHelper.AddNewTag(this, baseUrl)">保存</a>
                <a class="img-repo-cancel-btn" style="display:none;" onclick="ImgRepoCommon.CloseEdit(this)">取消</a>
                <div class="img-repo-item-container"></div>
            </div>
        </div>
        <div class="img-repo-attr-group" id="image-index-category-group">
            <span class="img-repo-attr-label">分類</span>

            <div class="img-repo-edit-group">
                <a class="img-repo-edit-btn" onclick="ImgRepoCommon.OpenEdit(this)">新增</a>
                <input class="img-repo-input" type="text" style="display:none;" />
                <a class="img-repo-save-btn" style="display:none;" onclick="ImgRepoImageIndexHelper.AddNewCategory(this, baseUrl)">保存</a>
                <a class="img-repo-cancel-btn" style="display:none;" onclick="ImgRepoCommon.CloseEdit(this)">取消</a>
                <div class="img-repo-item-container"></div>
            </div>
        </div>

        <div class="img-repo-attr-group" id="image-index-author-group">
            <span class="img-repo-attr-label">作者</span>
            <input class="img-repo-input" type="text" id="author-name" style="display:none;" />
        </div>
        <div class="img-repo-attr-group" id="image-index-description-group">
            <div class="img-repo-attr-label">描述</div>
            <div class="img-repo-item-container" id="img-description">@Model.Description</div>
        </div>
    </div>

</div>

<script>
    let baseUrl = "@Url.Action("", "")";
    $(document).ready(function () {
        ImgRepoImageIndexHelper.LoadTags(baseUrl);
        ImgRepoImageIndexHelper.LoadImage(baseUrl);
    });
</script>
