@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container">

    <form method="post" action="Upload" enctype="multipart/form-data" >
        <input name="ImageName" type="text" />
        <input name="Description" type="text" />
        <input name="Tags" type="text" />
        <input name="Categories" type="text" />
        <input name="File" type="file" />
        <button type="submit">上傳</button>
    </form>
</div>
