@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <div class="row img-repo-thumb-container">

    </div>
</div>

<script>
    $(document).ready(function () {
        let baseUrl = "@Url.Action("", "")";
        $.ajax({
            url: baseUrl + `api/query/thumbnails/`,
            type: "POST",
            contentType: "application/json",
            data: null,
            success: function (data) {
                data.forEach(x=>{
                    $(".img-repo-thumb-container").append(ImgRepoHelper.CreateThumbItem(x));
                });                
            },
        });
    });
</script>

