@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div id="index-thumbnail-container" class="row img-repo-thumb-container">

    </div>
</div>

<script>
    let baseUrl = "@Url.Action("", "")";    
    $(document).ready(function () {
        ImgRepoIndexHelper.LoadThumbnails(baseUrl);
    });
</script>

